#profile{
max-width: 20%;
max-height: 20%;
}

nav{
  display: flex;
position: relative;
justify-content: end;
gap: 10px;
}


.try-it{
  background-color: rgba(100, 100, 100, .8);
height: 100%;
width: 100%;
z-index: 50;
position: fixed;
top:0;
left:0;
}
body{
  background-image: url("imgs/sunflowers-8256666_1280.jpg");
}